/* Colour variable definitions */
:root{

    /* Main Colors */
    --color-headerbar: rgba(170, 140, 100, 0.8);
    --color-key1: rgb(153, 167, 167) ;
    --color-key2: rgb(220, 160, 21) ;
    --color-key3: rgba(145, 182, 175,0.8) ;
    --color-key4: rgba(145, 182, 175,0.8) ;
    --color-key5: rgba(145, 182, 175,0.8) ;
    /* Text Colors */
    --color-text1: rgba(0, 0, 0, 1) ;
    --color-text2: rgba(145, 182, 175,0.8) ;
    --color-text3: rgba(145, 182, 175,0.8) ;
    --color-text4: rgba(145, 182, 175,0.8) ;
}

body {
    font-family: Arial;
    margin: 0;
    color: var(--color-text1);
    background-color: rgb(251, 243, 233);
}

.navContainer{
    position: relative;
    margin-left: 5%;   
    z-index: 4; 
    
}


header{  
background: var(--color-headerbar);
z-index: 4;

}


.logo{
    float: left;
    padding: 0.2% 10px;
    margin: 5px 0;
    outline:solid #000000 2px;
    text-align: center;
    z-index: 4;
}
nav{
    
    margin: auto;
    z-index: 4;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 4;
}
nav li{
    
    display: inline-block;
    margin: 1% 7%; 
    padding: .25%;
    outline: solid #000000 2px;
    z-index: 4;
}

nav a{
    color:var(--color-text1);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 4;
}
nav a:hover{
    color:var(--color-key2);
    z-index: 4;
}

h3{
margin: 0px;
z-index: 4;

}

h4{
    margin: 0px;
    z-index: 4;
    font: bold;
    }

.header{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    text-align: center;
    
    /* outline: dashed 1px black; */
    
}

h1, h2 {
    
    position: relative;
    z-index: 0;
    color: #000000;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

p {
    margin-top: 1px;
    z-index: 0;
    color: #000000;
    font-size: 25px;
}

.p1 {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    width: 600px;
    font-size: 20px;
    
}

input[type="range"]{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    
    transform: rotate(270deg);

}
input[type="range"]::-webkit-slider-runnable-track{
    background: rgba(181, 173, 165, 0.5);
    height: 7.5px;
    border-radius: 10px;

}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: var(--thumb-height);
    width: var(--thumb-width);
    background-color: #000000;
    border-radius: 50%;
    margin-top: calc(7.5px/2 - var(--thumb-height)/2) ;
}

.drawing-board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(181, 173, 165, 0.0);
}
#drawing-board-recording{
    z-index: 2;
}
#drawing-board-user{
    z-index: 1;
}

.canvas-container {
    position: relative;
    z-index: 3; /* Ensure canvas container is above the canvas */
}

#color-wheel {
    width: 75px;
    height: 75px;
    background: radial-gradient(white, transparent 80%),
                conic-gradient(#e43f00, #fae410, #55cc3b, #09adff, #6b0efd, #e70d86, #e43f00);
    border-radius: 50%;
    z-index: 3;
}


#toolbar {
    position: fixed;
    top: 40%;
    left: 2%;
    z-index: 3; /* Toolbar sits above canvas */
    display: flex;
    flex-direction: column;
    padding: 10px ;
    width: 70px;
    background-color: none;
    color: #c0a56b;
    
    text-align: center;
}
#toolbar button{
border-radius: 10px;
border:none;
color: var(--color-text1);
background-color: var(--color-headerbar);
}



.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 2;
    text-align: center;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    
}
.project {
    margin-bottom: 20px;
    z-index: 2;
}
.project img {
    width: 100%;
    height: auto;
    z-index: 2;
}
.contact-info {
    text-align: center;
    z-index: 2;
}
.clearFix ::after{
    content: "";
    display: table;
    clear: both;
    z-index: 4;
}
#serializerDiv{
    position: fixed;
    z-index: 4;
}